.figure {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
  
.circle {
    border-radius: 100%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.box4 {
    margin-top: 40px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
}

.box3 {
    margin-top: 40px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}
.box2 {
    margin-top: 40px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
}
.box1 {
    margin-top: 40px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
}